@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 100%;
}


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

.display-flex-col{
    display: flex;
    flex-direction: column;
}

.color-dark1{
    color: #131313;
    font-weight: 700;
}

.color-dark2{
    color: #424242;
}

.color-dark3{
    color: #727272;
    line-height: 1.5;
}

.color-orange{
    color: #FF900E;
    font-weight: 700;
}

.btn{
    background-color: #FF900E;
    color: #fff;
    padding: 1.2rem 1.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    text-decoration: none;
    border: 1px solid #FF900E;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.btn:hover{
    background-color: #fff;
    color: #FF900E;
    border: 1px solid #FF900E;
}

/* Header */

header{
    padding: 2.8rem 0;
    width: 120rem;
    background-color: rgba(255, 144, 14, 0.1);
}

/* Nav Bar */

.navbar{
    justify-content: space-between;
    align-items: center;
    width: 90rem;
    margin: 0 auto;
}

.logo{
    font-size: 2.8rem;
    text-decoration: none;
}

.navlinks{
    gap: 2.5rem;
}
.navlinks li{
    list-style-type: none;
}

.navlinks li a{
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.5;
    transition: font-weight 0.2s ease;
}

.navlinks li a:hover{
    font-weight: 600;
}

/* Hero Section */

.hero{
    align-items: center;
    width: 90rem;
    margin: 6.25rem auto 0;
}

.hero-content{
    width: 55rem;
    align-items: center;
}

.hero-content h1{
    text-align: center;
    font-size: 4rem;
}

.hero-content p{
    text-align: center;
    font-size: 1rem;
    margin: 2rem 0;
}

.hero-img{
    margin-top: 3rem;
}

.hero-img img{
    width: 100%;
}

/* Feature Images Section */

main{
    width: 120rem;
}

.features{
    width: 90rem;
    margin: 5rem auto;
    gap: 4.5rem;
    align-items: center;
}

.images{
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: repeat(2, 20rem);
    gap: 1.2rem;
}

.internal img{
    width: 100%;
}

.img-content{
    align-items: flex-start;
}

.img-content h2{
    font-weight: 500;
    font-size: 2.8rem;
    color: #131313;
    width: 33rem;
}

.img-content p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    width: 33rem;
    margin: 1.7rem 0 2rem;
}

/* Enjoy Content */

.enjoy{
    width: 90rem;
    margin: 0 auto 5rem;
    gap: 9rem;
    align-items: center;
    position: relative;
}

.title{
    align-items: center;
    gap: 1.25rem;
}

.title-line{
    width: 0.4rem;
    height: 6.7rem;
    background-color: #FF900E;
}

.title h5{
    font-size: 2.8rem;
    font-weight: 700;
    width: 30rem;
}

.enjoy-content p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.5rem 0;
}

.box h6{
    font-weight: 600;
    font-size: 1.25rem;
}

.box p{
    margin: 0.625rem 0 0;
}

.box{
    padding: 1.875rem;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.3rem;
}

.boxes{
    gap: 1.25rem;
}

.enjoy-img{
    width: 100%;
}

.enjoy-img img{
    width: 100%;
    height: 100%;
}

.experience-tag{
    padding: 2rem;
    background-color: #FF900E;
    border-radius: 0.325rem;
    position: absolute;
    bottom: -5%;
    left: 50%;
}

.experience-tag h1{
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
}

.experience-tag h6{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

/* Facts */

.facts-section{
    margin: 6rem auto;
    width: 90rem;
}

.facts-section h1{
    font-size: 2.8125rem;
    font-weight: 700;
}

.facts-section p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 34rem;
    margin: 1.5rem 0 6.2rem;
}

.facts{
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    grid-template-rows: repeat(1, 15rem);
    gap: 7.75rem;
    margin-left: 2.5rem;
}

.fact-internal{
    padding: 2.8rem 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 0.3rem;
}

.fact-internal h2{
    font-size: 2.8125rem;
    font-weight: 600;
    margin: 0.3rem 0 0.5rem;
}

.fact-internal h6{
    font-size: 1.25rem;
    font-weight: 600;
}

/* Sponsors Section */

footer{
    width: 120rem;
}

.sponsors-section{
    margin: 5rem auto 8.125rem;
    width: 90rem;
    align-items: center;
}

.sponsors-section h2{
    font-size: 2.8125rem;
    font-weight: 700;
}

.sponsors-section p{
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    width: 34rem;
    margin: 1.5rem 0 3.125rem;
}

.sponsors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 7.5rem;
}

.sponsor-internal{
    filter: grayscale(100%);
    opacity: 0.8;
    transition: all 0.3s ease;
}

.sponsor-internal:hover{
    filter: grayscale(0%);
    opacity: 1;
}

.sponsor-internal img{
    width: 100%;
}

/* Copyright */

.copyright{
    background-color: #FFF4E7;
    width: 90rem;
    margin: 0 auto;
    padding: 2.375rem 0;
    border-radius: 0.5rem;
}

.copyright p{
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}