@media screen and (max-width: 576px){
    .btn{
        padding: 0.36rem 0.45rem;
        font-size: 0.375rem;
    }

    /* Header */

    header{
        padding: 0.84rem 0;
        width: 36rem;
    }

    /* Nav Bar */

    .navbar{
        width: 27rem;
    }

    .logo{
        font-size: 0.84rem;
    }

    .navlinks{
        gap: 0.75rem;
    }

    .navlinks li a{
        font-size: 0.3375rem;
    }

    /* Hero Section */

    .hero{
        width: 27rem;
        margin: 1.875rem auto 0;
    }

    .hero-content{
        width: 16.5rem;
    }

    .hero-content h1{
        font-size: 1.2rem;
    }

    .hero-content p{
        font-size: 0.3rem;
        margin: 0.6rem 0;
    }

    .hero-img{
        margin-top: 0.9rem;
    }

    /* Feature Images Section */

    main{
        width: 36rem;
    }

    .features{
        width: 27rem;
        margin: 1.5rem auto;
        gap: 1.35rem;
    }

    .images{
        grid-template-columns: repeat(2, 6rem);
        grid-template-rows: repeat(2, 6rem);
        gap: 0.36rem;
    }

    .img-content h2{
        font-size: 0.84rem;
        width: 9.9rem;
    }

    .img-content p{
        font-size: 0.3rem;
        width: 9.9rem;
        margin: 0.51rem 0 0.6rem;
    }

    /* Enjoy Content */

    .enjoy{
        width: 27rem;
        margin: 0 auto 1.5rem;
        gap: 2.7rem;
    }

    .title{
        gap: 0.375rem;
    }

    .title-line{
        width: 0.12rem;
        height: 2.01rem;
    }

    .title h5{
        font-size: 0.84rem;
        width: 9rem;
    }

    .enjoy-content p{
        font-size: 0.3rem;
        margin: 0.45rem 0;
    }

    .box h6{
        font-size: 0.375rem;
    }

    .box p{
        margin: 0.1875rem 0 0;
    }

    .box{
        padding: 0.5625rem;
    }

    .boxes{
        gap: 0.375rem;
    }

    .experience-tag{
        padding: 0.6rem;
    }

    .experience-tag h1{
        font-size: 1.05rem;
    }

    .experience-tag h6{
        font-size: 0.45rem;
    }

    /* Facts */

    .facts-section{
        margin: 1.8rem auto;
        width: 27rem;
    }

    .facts-section h1{
        font-size: 0.8438rem;
    }

    .facts-section p{
        font-size: 0.3rem;
        width: 10.2rem;
        margin: 0.45rem 0 1.86rem;
    }

    .facts{
        grid-template-columns: repeat(4, 4.5rem);
        grid-template-rows: repeat(1, 4.5rem);
        gap: 2.325rem;
        margin-left: 0.75rem;
    }

    .fact-internal{
        padding: 0.84rem 0.675rem;
    }

    .fact-internal h2{
        font-size: 0.8438rem;
        margin: 0.09rem 0 0.15rem;
    }

    .fact-internal h6{
        font-size: 0.375rem;
    }

    /* Sponsors Section */

    footer{
        width: 36rem;
    }

    .sponsors-section{
        margin: 1.5rem auto 2.4375rem;
        width: 27rem;
    }

    .sponsors-section h2{
        font-size: 0.8438rem;
    }

    .sponsors-section p{
        font-size: 0.3rem;
        width: 10.2rem;
        margin: 0.45rem 0 0.9375rem;
    }

    .sponsors{
        gap: 2.25rem;
    }

    /* Copyright */

    .copyright{
        width: 27rem;
        padding: 0.7125rem 0;
    }

    .copyright p{
        font-size: 0.375rem;
    }
}