@media screen and (max-width: 768px){
    .btn{
        padding: 0.48rem 0.6rem;
        font-size: 0.5rem;
    }

    /* Header */

    header{
        padding: 1.12rem 0;
        width: 48rem;
    }

    /* Nav Bar */

    .navbar{
        width: 36rem;
    }

    .logo{
        font-size: 1.12rem;
    }

    .navlinks{
        gap: 1rem;
    }

    .navlinks li a{
        font-size: 0.45rem;
    }

    /* Hero Section */

    .hero{
        width: 36rem;
        margin: 2.5rem auto 0;
    }

    .hero-content{
        width: 22rem;
    }

    .hero-content h1{
        font-size: 1.6rem;
    }

    .hero-content p{
        font-size: 0.4rem;
        margin: 0.8rem 0;
    }

    .hero-img{
        margin-top: 1.2rem;
    }

    /* Feature Images Section */

    main{
        width: 48rem;
    }

    .features{
        width: 36rem;
        margin: 2rem auto;
        gap: 1.8rem;
    }

    .images{
        grid-template-columns: repeat(2, 8rem);
        grid-template-rows: repeat(2, 8rem);
        gap: 0.48rem;
    }

    .img-content h2{
        font-size: 1.12rem;
        width: 13.2rem;
    }

    .img-content p{
        font-size: 0.4rem;
        width: 13.2rem;
        margin: 0.68rem 0 0.8rem;
    }

    /* Enjoy Content */

    .enjoy{
        width: 36rem;
        margin: 0 auto 2rem;
        gap: 3.6rem;
    }

    .title{
        gap: 0.5rem;
    }

    .title-line{
        width: 0.16rem;
        height: 2.68rem;
    }

    .title h5{
        font-size: 1.12rem;
        width: 12rem;
    }

    .enjoy-content p{
        font-size: 0.4rem;
        margin: 0.6rem 0;
    }

    .box h6{
        font-size: 0.5rem;
    }

    .box p{
        margin: 0.25rem 0 0;
    }

    .box{
        padding: 0.75rem;
    }

    .boxes{
        gap: 0.5rem;
    }

    .experience-tag{
        padding: 0.8rem;
    }

    .experience-tag h1{
        font-size: 1.4rem;
    }

    .experience-tag h6{
        font-size: 0.6rem;
    }

    /* Facts */

    .facts-section{
        margin: 2.4rem auto;
        width: 36rem;
    }

    .facts-section h1{
        font-size: 1.125rem;
    }

    .facts-section p{
        font-size: 0.4rem;
        width: 13.6rem;
        margin: 0.6rem 0 2.48rem;
    }

    .facts{
        grid-template-columns: repeat(4, 6rem);
        grid-template-rows: repeat(1, 6rem);
        gap: 3.1rem;
        margin-left: 1rem;
    }

    .fact-internal{
        padding: 1.12rem 0.9rem;
    }

    .fact-internal h2{
        font-size: 1.125rem;
        margin: 0.12rem 0 0.2rem;
    }

    .fact-internal h6{
        font-size: 0.5rem;
    }

    /* Sponsors Section */

    footer{
        width: 48rem;
    }

    .sponsors-section{
        margin: 2rem auto 3.25rem;
        width: 36rem;
    }

    .sponsors-section h2{
        font-size: 1.125rem;
    }

    .sponsors-section p{
        font-size: 0.4rem;
        width: 13.6rem;
        margin: 0.6rem 0 1.25rem;
    }

    .sponsors{
        gap: 3rem;
    }

    /* Copyright */

    .copyright{
        width: 36rem;
        padding: 0.95rem 0;
    }

    .copyright p{
        font-size: 0.5rem;
    }
}