@media screen and (max-width: 1280px) {
    .btn{
        padding: 0.8rem 1rem;
        font-size: 0.8333rem;
    }

    /* Header */

    header{
        padding: 1.8667rem 0;
        width: 80rem;
    }

    /* Nav Bar */

    .navbar{
        width: 60rem;
    }

    .logo{
        font-size: 1.8667rem;
    }

    .navlinks{
        gap: 1.6667rem;
    }

    .navlinks li a{
        font-size: 0.75rem;
    }

    /* Hero Section */

    .hero{
        width: 60rem;
        margin: 4.1667rem auto 0;
    }

    .hero-content{
        width: 36.6667rem;
    }

    .hero-content h1{
        font-size: 2.6667rem;
    }

    .hero-content p{
        font-size: 0.6667rem;
        margin: 1.3333rem 0;
    }

    .hero-img{
        margin-top: 2rem;
    }

    /* Feature Images Section */

    main{
        width: 80rem;
    }

    .features{
        width: 60rem;
        margin: 3.3333rem auto;
        gap: 3rem;
    }

    .images{
        grid-template-columns: repeat(2, 13.3333rem);
        grid-template-rows: repeat(2, 13.3333rem);
        gap: 0.8rem;
    }

    .img-content h2{
        font-size: 1.8667rem;
        width: 22rem;
    }

    .img-content p{
        font-size: 0.6667rem;
        width: 22rem;
        margin: 1.1333rem 0 1.3333rem;
    }

    /* Enjoy Content */

    .enjoy{
        width: 60rem;
        margin: 0 auto 3.3333rem;
        gap: 6rem;
    }

    .title{
        gap: 0.8333rem;
    }

    .title-line{
        width: 0.2667rem;
        height: 4.4667rem;
    }

    .title h5{
        font-size: 1.8667rem;
        width: 20rem;
    }

    .enjoy-content p{
        font-size: 0.6667rem;
        margin: 1rem 0;
    }

    .box h6{
        font-size: 0.8333rem;
    }

    .box p{
        margin: 0.4167rem 0 0;
    }

    .box{
        padding: 1.25rem;
    }

    .boxes{
        gap: 0.8333rem;
    }

    .experience-tag{
        padding: 1.3333rem;
    }

    .experience-tag h1{
        font-size: 2.3333rem;
        width: 100%;
    }

    .experience-tag h6{
        font-size: 1rem;
    }

    /* Facts */

    .facts-section{
        margin: 4rem auto;
        width: 60rem;
    }

    .facts-section h1{
        font-size: 1.875rem;
    }

    .facts-section p{
        font-size: 0.6667rem;
        width: 22.6667rem;
        margin: 1rem 0 4.1333rem;
    }

    .facts{
        grid-template-columns: repeat(4, 10rem);
        grid-template-rows: repeat(1, 10rem);
        gap: 5.1667rem;
        margin-left: 1.6667rem;
    }

    .fact-internal{
        padding: 1.8667rem 1.5rem;
    }

    .fact-internal h2{
        font-size: 1.875rem;
        margin: 0.2rem 0 0.3333rem;
    }

    .fact-internal h6{
        font-size: 0.8333rem;
    }

    /* Sponsors Section */

    footer{
        width: 80rem;
    }

    .sponsors-section{
        margin: 3.3333rem auto 5.4167rem;
        width: 60rem;
    }

    .sponsors-section h2{
        font-size: 1.875rem;
    }

    .sponsors-section p{
        font-size: 0.6667rem;
        width: 22.6667rem;
        margin: 1rem 0 2.0833rem;
    }

    .sponsors{
        gap: 5rem;
    }

    /* Copyright */

    .copyright{
        width: 60rem;
        padding: 1.5833rem 0;
    }

    .copyright p{
        font-size: 0.8333rem;
    }
}
