@media screen and (max-width: 1200px){
    .btn{
        padding: 0.75rem 0.9375rem;
        font-size: 0.78125rem;
    }
    
    /* Header */

    header{
    padding: 1.75rem 0;
    width: 75rem;
    }

    /* Nav Bar */

    .navbar{
        width: 56.25rem;
    }

    .logo{
        font-size: 1.75rem;
    }

    .navlinks{
        gap: 1.5625rem;
    }

    .navlinks li a{
        font-size: 0.703125rem;
    }

    /* Hero Section */

    .hero{
        width: 56.25rem;
        margin: 3.90625rem auto 0;
    }

    .hero-content{
        width: 34.375rem;
    }

    .hero-content h1{
        font-size: 2.5rem;
    }

    .hero-content p{
        font-size: 0.625rem;
        margin: 1.25rem 0;
    }

    .hero-img{
        margin-top: 1.875rem;
    }

    /* Feature Images Section */

    main{
        width: 75rem;
    }

    .features{
        width: 56.25rem;
        margin: 3.125rem auto;
        gap: 2.8125rem;
    }

    .images{
        grid-template-columns: repeat(2, 12.5rem);
        grid-template-rows: repeat(2, 12.5rem);
        gap: 0.75rem;
    }

    .img-content h2{
        font-size: 1.75rem;
        width: 20.625rem;
    }

    .img-content p{
        font-size: 0.625rem;
        width: 20.625rem;
        margin: 1.0625rem 0 1.25rem;
    }

    /* Enjoy Content */

    .enjoy{
        width: 56.25rem;
        margin: 0 auto 3.125rem;
        gap: 5.625rem;
    }

    .title{
        gap: 0.78125rem;
    }

    .title-line{
        width: 0.25rem;
        height: 4.1875rem;
    }

    .title h5{
        font-size: 1.75rem;
        width: 18.75rem;
    }

    .enjoy-content p{
        font-size: 0.625rem;
        margin: 0.9375rem 0;
    }

    .box h6{
        font-size: 0.78125rem;
    }

    .box p{
        margin: 0.390625rem 0 0;
    }

    .box{
        padding: 1.171875rem;
    }

    .boxes{
        gap: 0.78125rem;
    }

    .experience-tag{
        padding: 1.25rem;
    }

    .experience-tag h1{
        font-size: 2.1875rem;
    }

    .experience-tag h6{
        font-size: 0.9375rem;
    }

    /* Facts */

    .facts-section{
        margin: 3.75rem auto;
        width: 56.25rem;
    }

    .facts-section h1{
        font-size: 1.7578125rem;
    }

    .facts-section p{
        font-size: 0.625rem;
        width: 21.25rem;
        margin: 0.9375rem 0 3.875rem;
    }

    .facts{
        grid-template-columns: repeat(4, 9.375rem);
        grid-template-rows: repeat(1, 9.375rem);
        gap: 4.84375rem;
        margin-left: 1.5625rem;
    }

    .fact-internal{
        padding: 1.75rem 1.40625rem;
    }

    .fact-internal h2{
        font-size: 1.7578125rem;
        margin: 0.1875rem 0 0.3125rem;
    }

    .fact-internal h6{
        font-size: 0.78125rem;
    }

    /* Sponsors Section */

    footer{
        width: 75rem;
    }

    .sponsors-section{
        margin: 3.125rem auto 5.078125rem;
        width: 56.25rem;
    }

    .sponsors-section h2{
        font-size: 1.7578125rem;
    }

    .sponsors-section p{
        font-size: 0.625rem;
        width: 21.25rem;
        margin: 0.9375rem 0 1.953125rem;
    }

    .sponsors{
        gap: 4.6875rem;
    }

    /* Copyright */

    .copyright{
        width: 56.25rem;
        padding: 1.484375rem 0;
    }

    .copyright p{
        font-size: 0.78125rem;
    }
}